<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<div class="search_all">
    <div class="search_div">
        <p>
            검색이 완료되었습니다. <br><br>
            <a href="<%=fileLink%>">결과 파일</a></br>
            <br><br>
            <a href="/search" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Back</a>
        </p>

        %>


    </div>
</div>
</body>

</html>
